body { 
	background: url("../res/memorize_back.jpg");
}

ul.hover_block { display: block; overflow: hidden; height: 1%; padding: .2em 0 .2em 0; margin-bottom: 0px;}

ul.hover_block li {
	list-style:none;
	float:left;
	background: #fff;
	width:99%; 
	position: relative;
	padding: 0px;
	margin: 0px;*/
}

ul.hover_block li a {
	display: block;
	position: relative;
	overflow: hidden;
	height: 50px;
	padding: 0px;
	margin: 0px;
	color: #000;
}

ul.hover_block li a { text-decoration: none; }

ul.hover_block li img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

ul.hover_block li a:hover img {
  opacity:0.6;  filter:alpha(opacity=60);
  border: solid .1em #3a5899;
}

#how_many_form_div{
	text-align:left;
	padding: 1em;
}

#how_many_form_div span label{
	font-size: 1.2em; 
	padding-top: 1em;
}

