body { 
	background: url("../res/memorize_back.jpg");
}

ul.hover_block { display: block; overflow: hidden; height: 1%; padding: .1em 0 .1em 0; margin-bottom: 0px;}

ul.hover_block li {
	list-style:none;
	float:left;
	background: #fff;
	width:99%; 
	position: relative;
	padding: 0px;
	margin: 0px;*/
}

ul.hover_block li a {
	display: block;
	position: relative;
	overflow: hidden;
	height: 50px;
	padding: 0px;
	margin: 0px;
	color: #000;
}

ul.hover_block li a { text-decoration: none; }

ul.hover_block li img {
	position: absolute;
	top: 0;
	left: 0;
	/* border: 0; */
	border: solid .1em #3a5899;
}

ul.hover_block li a:hover img {
  opacity:0.7;  filter:alpha(opacity=70);
  border: solid .1em #3a5899;
}

#how_many_form_div{
	text-align:left;
	padding: 1em;
}

#how_many_form_div span label{
	font-size: 1.2em; 
	padding-top: 1em;
}

#score_board_div {
	background: url("../res/default_block.png");
	margin-left: 4px;
	text-align:center;
	height: 109px;
}

#score_label{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}

#score_value{
	font-size: 4em;
	color: #3a5899;
}


